<div class="slider">
   <div class="m-3" style="overflow: hidden;">
    <div class="cards ">
        <div class="card" style="width: 18rem;">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
           <button class="btn btn-warning">Know more 1</button>
         </div>
         <div class="card" style="width: 18rem;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
            <button class="btn btn-warning">Know more 2</button>
          </div>
          <div class="card" style="width: 18rem;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
            <button class="btn btn-warning">Know more 3</button>
          </div>
          <div class="card" style="width: 18rem;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
            <button class="btn btn-warning">Know more 4</button>
          </div>
          <div class="card" style="width: 18rem;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
            <button class="btn btn-warning">Know more 5</button>
          </div>
          <div class="card" style="width: 18rem;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
            <button class="btn btn-warning">Know more 6</button>
          </div>
          <div class="card" style="width: 18rem;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
            <button class="btn btn-warning">Know more 7</button>
          </div>
          <div class="card" style="width: 18rem;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse expedita, quia tenetur deleniti, rerum iste similique repellendus quas possimus ipsum assumenda maiores alias culpa sequi inventore dolores numquam molestias?</p>
            <button class="btn btn-warning">Know more 8</button>
          </div>
    </div>
    <div class="btns">
        <button class=" prev btn-warning btn rounded-pill" appPrev>prev</button>
        <button class=" next btn-warning btn rounded-pill" appNext>next</button>
    </div>
   </div>
</div>
